@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.dark body {
  background-color: #1a1a1a;
  color: white;
}

[data-aos="fade-up"] {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* index.css or a custom CSS file */
.card-section {
  @apply border border-gray-300 dark:border-white shadow-lg hover:shadow-2xl transition-transform duration-300 transform hover:-translate-y-1 bg-white/70 backdrop-blur-md rounded-xl p-6 my-12;
}
