/* index.css */

/* Import Tailwind's default base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

/* Ensure smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Body styles for both light and dark modes */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f1; /* Light mode background */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark/light mode */
}

/* Dark mode styles */
.dark body {
  background-color: #090d28; /* Dark mode background */
  color: #e0dad8; /* Dark mode text color */
}

/* Optional: Add custom styles like focus states for accessibility */
:focus {
  outline: 3px solid #ffcc00;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Custom Tailwind CSS */
.bg-primary-light {
  background-color: #f0f4f8;
}

.bg-primary-dark {
  background-color: #1a202c;
}

.bg-secondary-light {
  background-color: #f7fafc;
}

.bg-secondary-dark {
  background-color: #2d3748;
}
